<form id="search-form" class="form-cont" name="search-form">
  <div class="input-group mb-3">
    <input type="text" id="search-input" class="form-control"
           placeholder="Введите название фильма" autocomplete="off">
    <div class="input-group-append">
      <button type="submit" id="search-btn" class="btn btn-outline-secondary">
        <i class="icon icon-search">
          <img src="assets/images/icon-search.png" alt="icon-search">
        </i>
      </button>
    </div>
  </div>
</form>
